<div class="card">

    <div class="card-header">

        <h2>Productos</h2>

        <button 
            class="btn btn-primary" 
            (click)="openCreateModal()"> 
            Nuevo Producto 
        </button>

    </div>

    <table>

        <thead>

            <tr>

                <th>Código</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>

            </tr>

        </thead>

        <tbody>
            
            @for (product of products; track product.id) {  <!-- Se utiliza *ngFor para llenar la tabla -->
                <tr>

                    <td>{{ product.code }}</td>

                    <td>{{ product.name }}</td>

                    <td>{{ product.price }}</td>

                    <td>{{ product.created_at }}</td>

                    <td>
                        <button class="btn btn-sm btn-outline-info me-2"
                        (click)="viewProduct(product)">
                            <i class="bi bi-eye"></i>
                        </button>

                        <button class="btn btn-sm btn-outline-warning me-2"
                        (click)="editProduct(product)">
                            <i class="bi bi-pencil"></i>
                        </button>

                        <button class="btn btn-sm btn-outline-danger"
                        (click)="deleteProduct(product)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>

                </tr>

            }

        </tbody>

    </table>


    <!-- Modal de Detalle del Producto -->
    <div 
    class="modal fade"
    id="productDetailModal"
    tabindex="-1"
    aria-labelledby="productDetailModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

        <div class="modal-header bg-dark text-white">

            <h5 class="modal-title" id="productDetailModalLabel">
            Detalle del Producto
            </h5>

            <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal">
            </button>

        </div>

        <div class="modal-body">

            <div class="row">


            <div class="col-md-8">

                <p>
                    <strong>Código:</strong>
                    {{ selectedProduct?.code }}
                </p>

                <p>
                    <strong>Nombre:</strong>
                    {{ selectedProduct?.name }}
                </p>

                <p>
                    <strong>Marca:</strong>
                    {{ selectedProduct?.brand }}
                </p>

                <p>
                    <strong>Precio:</strong>
                    {{ selectedProduct?.price }}
                </p>

                <p>
                    <strong>Fecha de creación:</strong>
                    {{ selectedProduct?.created_at }}
                </p>

                <hr>

                

            </div>

            </div>

        </div>

        <div class="modal-footer">

            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cerrar
            </button>

        </div>

        </div>

    </div>

    </div>
    <!-- Finaliza Modal de Detalle del Producto -->

    <!-- Modal de Creación/Edición del Producto -->
     
    <div
    class="modal fade"
    id="productFormModal"
    tabindex="-1"
    aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

        <div class="modal-header bg-dark text-white">

            <h5 class="modal-title">

            {{ isEditMode ? 'Editar Producto' : 'Nuevo Producto' }}

            </h5>

            <button
            class="btn-close btn-close-white"
            data-bs-dismiss="modal">
            </button>

        </div>

        <div class="modal-body"> <!-- Contenido del formulario -->
            <form [formGroup]="productForm">

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">Nombre *</label>

                        <input
                            type="text"
                            class="form-control"
                            formControlName="name">

                    </div>

                    <div class="col-md-6 mb-3">

                        <label class="form-label">Marca *</label>

                        <input
                            type="text"
                            class="form-control"
                            formControlName="brand">

                    </div>

                    

                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">Precio *</label>

                        <input
                            type="text"
                            class="form-control"
                            formControlName="price">

                    </div>

                    

                </div>

                

            </form>

        </div>

        <div class="modal-footer">

            <button
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Cancelar
            </button>

            <button class="btn btn-primary"
                (click)="saveProduct()">

            {{ isEditMode ? 'Actualizar' : 'Guardar' }}

            </button>

        </div>

        </div>

    </div>

    </div>
    <!-- Finaliza Modal de Creación/Edición del Producto -->









</div>