<div class="layout">

    <aside class="sidebar">

        <h2>Inventory</h2>


        <nav>
            
            <a routerLink="/dashboard">
                Dashboard
            </a>

            @for (section of sections; track section.id) {

                <a [routerLink]="getRoute(section.name)">
                    {{ section.name }}
                </a>

            }

        </nav>

        
        <button
            class="btn-logout"
            (click)="logout()">

            Salir

        </button>

    </aside>

    <main class="content">

        <router-outlet></router-outlet>

    </main>
    
</div>